/* CSS Document */
body{
	font-family: Helvetica, Arial, Sans-Serif !important;
	font-size:12px !important;
}
.queue-report-login-div{
	padding:10px;
	border:1px solid #E0E0E0;
	border-radius:3px;
	margin-top:25px;
	margin-bottom:25px;
	background-color:#edf4ff;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(113,174,179,0.5);
	-moz-box-shadow: 0px 0px 9px 0px rgba(113,174,179,0.5);
	box-shadow: 0px 0px 9px 0px rgba(113,174,179,0.5);
}
.bottom-border-headings{
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 25px;
}
.border-all-side{
	border:1px solid #e0e0e0;
	border-radius:3px;
}
#queue-report-bridge-menu-page-div{
	display:none;
	padding:15px;
}
.input-group span{
	cursor:pointer;
	transition: all 0.2s linear;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
}
.input-group span:hover{
	color:#fff;
	background-color:#EC3D40;
}
.queue-report-pannel-contact-list{
	max-height: 180px;
	overflow: auto;	
}
.max-width{
	width:45% !important;
	float:left;
	margin-right:5px;
}