#reports_telephony_titleBar{
	padding-top:5px;
	padding-bottom:5px;		
	height:55px;
	background-color:rgba(245,245,245,1.00);
	line-height:55px;
}
#queuename{
	height:45px;
}
#heading_report_telephony{
	margin-top: 10px;
	text-align:center;
}
.reports_telephony_statusBox{
	padding:0 !important;
	border:1px solid rgba(0,84,114,1.00);
	border-radius:3px;
	cursor:pointer;
}
.reports_telephony_status_head{
	background-color:rgba(255,255,255,1.00);
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	padding:5px;
	color:rgba(0,0,0,1.00);
	font-size:14px;
	font-weight:bold;
	height:25px;
	margin-bottom:0px;
}
.hideHead_reportTelephony {
    text-overflow: ellipsis;
	text-align:center !important;
}
.hideHead_reportTelephony {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
	text-align:center !important;
}
.reports_telephony_interval{
	font-size:14px;
	height:25px;
	margin-bottom:0px;
	line-height:25px;
        /* Commited By : Mohan on 22-12-16*/
	/*background-color:rgba(179,239,255,1.00);*/
        background-color: rgba(1, 211, 255, 0.24);
	color:rgba(0,0,0,1.00);
}
.reports_telephony_interval:hover{
        /* Commited By : Mohan on 22-12-16*/
        /*background-color:rgba(1,211,255,1.00);*/
        background-color:rgba(65, 241, 173, 0.7);
	color:rgba(255,255,255,1.00);
}
.reports_telephony_FTD{
	font-size:14px;
	height:25px;
	margin-bottom:0px;
	line-height:25px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
        /* Commited By : Mohan on 22-12-16*/
	/*background-color:rgba(173,255,145,1.00);*/
        background-color: rgba(129, 65, 241, 0.28);
	color:rgba(0,0,0,1.00);
}
.reports_telephony_FTD:hover{
        /* Commited By : Mohan on 22-12-16*/
	/*background-color:rgba(54,213,0,1.00);*/
        background-color:rgba(1,211,255,1.00);
	color:rgba(255,255,255,1.00);
}
#reports_telephony_agent{
	margin-top:15px;
}
#barChart_report_telephony{
	margin-top:15px;
	height:400px;
	border:1px solid rgba(0,0,0,0.1);
	overflow:auto;
}