/*RTM-newUI-CSS*/

/*INLINE-CSS*/
body{
    height: 100%;
    background-color: #fff;
}
.absoluteBottom-RTM-New-UI{
	position:absolute !important;
	bottom:10px !important;
}
.highcharts-credits{
    display: none !important;
}
.ellipsis-RTM-New-UI {
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	/*white-space: nowrap;*/
	overflow: hidden;
	max-width: 60%;
}
.ellipsis-RTM-New-UI {
	text-overflow: ellipsis;
}
.marginTop-al-sl{
    margin-top: 0px;
}
.marginTop--7-RTM-New-UI{
	margin-top: -7px;
}
.paddingZero-RTM{
	padding:0 !important;
}
.fontSize-12-RTM-New-UI{
	font-size: 12px !important;
}
.marginZero-RTM{
	margin:0 !important;
}
.marginBottom-10-RTM-New{
	margin-bottom:10px;
}
.marginTop_5{
    margin-top: 5px !important;
}
.paddingTop-RTM{
	padding-top:7px !important;
}
.RTM-newUI-titleBar{
	margin-bottom:3px;
	height:35px;
}
.marginLeft-RTM-New{
    margin-left: 50px !important;
}

/*TABLE CSS*/
/*  FIXED TABLE HEAD & TBODY SCROLLABLE CODE HERE  */
table.scrollTable-RTM-New-UI {
    width: 100%;
}
tbody{
	width:100% !important;
}
table.scrollTable-RTM-New-UI th, table.scrollTable-RTM-New-UI td, table.scrollTable-RTM-New-UI tr, table.scrollTable-RTM-New-UI thead, table.scrollTable-RTM-New-UI tbody { display: block; }
table.scrollTable-RTM-New-UI thead tr {
    width: 100%;
    width: -webkit-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: calc(100% - 16px);
}
table.scrollTable-RTM-New-UI tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
table.scrollTable-RTM-New-UI tbody {
/*    overflow-y: auto;*/
	overflow:scroll;
}
table.scrollTable-RTM-New-UI tbody td,
table.scrollTable-RTM-New-UI thead th {
    width: 25%;
/*    width: 25%;  SHOULD BE CHANGED ON COLUMN NUMS E.G. FOR 4 COLUMNS WILL BE 25% & FOR 3 COLUMNS 33.33% */ 
    float: left;
}
.table-responsive{
    margin-left: 50px;
	font-size:12px !important; 
}
.table-RTM-New-UI{
	overflow:auto;
}

/*CHART WINDOW CSS*/
.chart-window-RTM-New-UI{
	min-height:370px;
	border:1px solid #ccc;
	margin-top:10px;
	overflow:auto;
        max-height: 325px !important;
}
.chart-window-qStatus-RTM-New-UI{
	/*width:100%;*/
	border-right:1px solid #ccc;
	height:100%;
        font-size: 12px;
}
.chart-window-chart-RTM-New-UI{
/*	width:100%;*/
	height:100%;
	pading-right:0px !important;
	position:relative !important;
}
.chart-boxes-headings-RTM-New-UI{
	width:50%;
	height:100%;
	line-height: 1.44em;
	padding:5px;
	border-right:1px solid #ccc;
}
.chart-boxes-time-RTM-New-UI{
	width:50%;
	height:40px;
}
.chart-boxes-RTM-New-UI{
	height:12%;
	min-height:40px;
	border:1px solid #ccc;
	margin-top:8px;
	cursor:pointer;
	background-color:#DDE6EF;
}
.chart-boxes-RTM-New-UI:hover{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
}

/*AL SL*/
.al-sl-boxes-RTM-New-UI{
	height:50px;
	border:1px solid #ccc;
	margin-top:15px;
	cursor:pointer;
}
.al-sl-boxes-headings-RTM-New-UI{
	width:50%;
	height:50px;
	padding:5px;
	border-right:1px solid #ccc;
	line-height:40px;
}
.al-sl-boxes-time-RTM-New-UI{
	width:50%;
	height:50px;
}
.al-sl-boxes-RTM-New-UI:hover{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
}

/*INTERVAL CSS*/
.interval-window-RTM-New-UI{
	min-height:200px !important;
	border:1px solid #ccc;
	font-size: 12px;
	padding-bottom:7px;
	margin-top:10px;
	overflow:auto;
	margin-bottom: 10px;
	margin-left:0;
	margin-top:10px;
        max-height: 220px !important
}
.interval-boxes-RTM-New-UI{
	height:30px;
	border:1px solid #ccc;
	margin-top:7px;
	cursor:pointer;
}

.interval-boxes-headings-RTM-New-UI{
	width:50%;
	min-height:30px;
	border-right:1px solid #ccc;
	line-height:30px;
}
.interval-red-RTM-New-UI{
	border:1px solid #B80003;
	background-color:#FF2226;
	color:#fff;
}
.interval-green-RTM-New-UI{
	border:1px solid #005A0C;
	background-color:#008B13;
	color:#fff;
}
.interval-blue-RTM-New-UI{
	border:1px solid #003A96;
	background-color:#3383FF;
	color:#fff;
}
.interval-boxes-RTM-New-UI:hover{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
}
/* ALL HIDDEN CSS HERE

.hideChartPannel-RTM-New-UI{
	width:50px;
	height:700px;
	background-color:#F0F0F0;
	border:1px solid #CCCCCC;
}*/
/*.speedometer-window-RTM-New-UI{
	height:250px;
	border:1px solid #ccc;
}*/