.margin_leftTop{
	margin-top:15px;
}
.currentStatus-all-RTM{
	padding: 0 10px 0 10px;
	margin-top:15px;
}
#real_time_extn_status{
    height: 300px;
    overflow: auto;
    padding: 15px;
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: justify;
}
.backStatus-all-RTM{
	height:50px;
	border-radius:5px;
	background-color:rgba(245,245,245,1.00);
	cursor:pointer;
        border: solid 1px #ccc;
}
.marginTopStatus-RTM{
    margin-top: 5px !important;    
}
.linHeightStatus-RTM{
    line-height: 50px !important;
}
.insideTable-icons-RTM{
	margin-top:0px;
	margin-bottom:0px;
}
.heading-RTM{
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
}
.tableResponsive-RTM{
	overflow:auto;
}
@media only screen and (max-width: 768px){
.currentStatus-all-RTM{
	padding: 0 10px 0 10px;
	margin-top:10px;
	margin-bottom:10px;
}
}
/*  FIXED TABLE HEAD & TBODY SCROLLABLE CODE HERE  */
table.scrollTable {
    width: 100%;
}
tbody{
    width: 100%;
}
table.scrollTable th, table.scrollTable td, table.scrollTable tr, table.scrollTable thead, table.scrollTable tbody { display: block; }
table.scrollTable thead tr {
    width: 100% !important;
    width: -webkit-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: calc(100% - 16px);
}
table.scrollTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
table.scrollTable tbody {
    height: 305px;
    overflow: auto;
}
table.scrollTable tbody td,
table.scrollTable thead th {
    width: 33.33%;
    float: left;
}