            tr{
                height: 1.5px;
            }
            
            td{
              padding-left: 5px;  
            }
            a {
                color: #B20000;
                font-size: 105%;
                text-decoration: none;
            }
            a:hover {
           //     font-size: 115%;
            }
            
            #titleDiv {
                width: 100%;
                padding-top: 3x;
                border: 1px solid #d1d1d1;
                background-color: #008AB8;
                color: #fff;
            }
            
            #leftDiv{
                width: 100%;
                float: left;
                height: 520px;
            }
            
            #rightDiv{
                width: 80%;
                float: center;
                height: 560px;
            }
            
            .titleBar{
                width: 100%;
                margin-top: 0px;
                text-align: center;
                font-size: 100%;
                font-weight: bold;
                height: 1.4em;
                padding-top: 0.2em;
                background-color: #B2E0F0;
            }
            .trOdd{
                background-color: #fff;
            }
            .trEven{
                background-color: #E6F5FA;
            }
            .inp{
                font-family: Calibri ;
                border: 1px solid #e1e1e1;
                font-size: 14px;
                color: #3B3B3B;
                width: 90%;
                padding-left: 3px;
                letter-spacing: .75px;
            }

            button{
                border-radius: .3em;
                border: 1px solid #9a9a9a;
                text-decoration: none;
                background-color: #80CCFF;
                font-size: 14px;
            }
            
            button:hover{
                background-color: #006BB2;
                color: #E6F5FF;
            }
            
#accordion-resizer {
    padding: 10px;
    width: 350px;
}

#h3NewCall{
    display: none;
}
 #div_new_call{
    display: none;
} 
 
 #h3NewCustomer{
    display: none;
} 
 
 #div_new_customer {
    display: none;
}

.hiddenTR{
    display: none;
}
.visibleTR{
    display: table;
    cursor: pointer;
}

.blinkEdit{
    color: red;
    text-shadow:4px 4px 8px gold;
}

.blinkNew{
    color: green;
    text-shadow:4px 4px 8px greenyellow;
}
.m_no{
    color: blue;
    font-size: 11px;
}
.c_name{
    color: #CC0099;
    font-size: 11px;
        
}