*{
	margin:0;
	padding:0;
}
/* Mobile Layout*/
@media only screen and (max-width: 746px) {
@font-face{
	font-family:my-font;
	src:url(../fonts/SEGOEUI.TTF);
}
#main{
	width:100vw;
	height:480px;
	margin:0 auto;
	font-family:my-font;
	padding-top:40px;

background: #46bbff; /* Old browsers */
background: -moz-linear-gradient(left,  #46bbff 0%, #c9ebfe 51%, #46bbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #46bbff 0%,#c9ebfe 51%,#46bbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #46bbff 0%,#c9ebfe 51%,#46bbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46bbff', endColorstr='#46bbff',GradientType=1 ); /* IE6-9 */

}
#logo{
	width:170px;
	height:46px;
	margin:0 auto;
	background:url(../images/LOGO-300-dpi-Color.png) no-repeat;
	background-size:cover;
	margin-bottom:40px;
}
#loginBox{
	width:270px;
	height:220px;
	border-radius:10px;
	margin:0 auto;
	padding-top:20px;
background: #aee1fe; /* Old browsers */
background: -moz-linear-gradient(left, #aee1fe 0%, #dcf2fe 51%, #aee1fe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #aee1fe 0%,#dcf2fe 51%,#aee1fe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #aee1fe 0%,#dcf2fe 51%,#aee1fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee1fe', endColorstr='#aee1fe',GradientType=1 ); /* IE6-9 */
}
#msg{
	font-size:12px;
	text-align:center;
	margin-bottom:15px;
}
#text-1{
	width:100%;
	height:34px;
	margin-bottom:5px;
}
#idIco{
	width:24px;
	height:24px;
	background-color:#FFF;
	background:url(../images/id-tab.jpg) no-repeat;
	background-size:cover;
	float:left;
	margin-left:33px;
}
#textBox{
	width:185px;
	height:24px;
	font-size:12px;
	background-color:#FFF;
	float:left;
}
#text-2{
	width:100%;
	height:34px;
	margin-bottom:5px;
}
#passIco{
	width:24px;
	height:24px;
	background-color:#FFF;
	background:url(../images/passkey-tab.jpg) no-repeat;
	background-size:cover;
	float:left;
	margin-left:33px;
}
#passBox{
	width:185px;
	height:24px;
	font-size:12px;
}
#R{
	width:100%;
	height:24px;
}
#checkBox1{
	margin-left:33px;
	float:left;
	margin-top:5px;
	margin-right:5px;
}
.rememberText{
	font-size:12px;
	cursor: pointer;
	cursor: hand;
	line-height:24px;
	float:left;
}
input[type=checkbox]
{
    /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */

}
.resetText{
	font-size:12px;
	float:right;
	color:#000;
	line-height:24px;
	margin-right:30px;
}
.paddingText{
	padding-left:5px;
	border: 0px solid #CCC; 
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	color:#009;
}

a:active {
    text-decoration: underline;
}
#btn-in{
	width:100%;
	height:50px;
	margin-top:25px;
}
.btn{
	width:90px;
	height:30px;
	background-color:#2c58a5;
	color:#FFF;
	font-size:12px;
	cursor: pointer;
	cursor: hand;
	border-radius:10px;
	margin-left:90px;
}
button:hover {
		background-color:#203a66;	
}
}


/* Tablet Layout */
@media only screen and (min-width: 746px) {
@font-face{
	font-family:my-font;
	src:url(../fonts/SEGOEUI.TTF);
}
#main{
	width:100%;
	height:100vh;
	margin:0 auto;
	font-family:my-font;
	padding-top:40px;

background: #46bbff; /* Old browsers */
background: -moz-linear-gradient(left,  #46bbff 0%, #c9ebfe 51%, #46bbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #46bbff 0%,#c9ebfe 51%,#46bbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #46bbff 0%,#c9ebfe 51%,#46bbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46bbff', endColorstr='#46bbff',GradientType=1 ); /* IE6-9 */

}
#logo{
	width:200px;
	height:56px;
	margin:0 auto;
	background:url(../images/LOGO-300-dpi-Color.png) no-repeat;
	margin-bottom:40px;
}
#loginBox{
	width:570px;
	height:250px;
	border-radius:10px;
	margin:0 auto;
	padding-top:20px;
background: #aee1fe; /* Old browsers */
background: -moz-linear-gradient(left, #aee1fe 0%, #dcf2fe 51%, #aee1fe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #aee1fe 0%,#dcf2fe 51%,#aee1fe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #aee1fe 0%,#dcf2fe 51%,#aee1fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee1fe', endColorstr='#aee1fe',GradientType=1 ); /* IE6-9 */
}
#msg{
	text-align:center;
	margin-bottom:15px;
}
#text-1{
	width:100%;
	height:34px;
	margin-bottom:12px;
}
#idIco{
	width:34px;
	height:34px;
	background-color:#FFF;
	background:url(../images/id-tab.jpg) no-repeat;
	float:left;
	margin-left:118px;
}
#textBox{
	width:300px;
	height:34px;
	font-size:16px;
	background-color:#FFF;
	float:left;
}
#text-2{
	width:100%;
	height:34px;
	margin-bottom:12px;
}
#passIco{
	width:34px;
	height:34px;
	background-color:#FFF;
	background:url(../images/passkey-tab.jpg) no-repeat;
	float:left;
	margin-left:118px;
}
#passBox{
	width:300px;
	height:34px;
	font-size:16px;
}
#R{
	width:100%;
	height:34px;
}
#checkBox1{
	margin-left:120px;
	float:left;
	margin-top:10px;
	margin-right:15px;
}
.rememberText{
	font-size:14px;
	cursor: pointer;
	cursor: hand;
	line-height:34px;
	float:left;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
.resetText{
	font-size:14px;
	float:right;
	color:#000;
	line-height:34px;
	margin-right:110px;
}
.paddingText{
	padding-left:10px;
	border: 0px solid #CCC; 
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	color:#009;
}

a:active {
    text-decoration: underline;
}
#btn-in{
	width:100%;
	height:50px;
	margin-top:20px;
}
.btn{
	width:120px;
	height:40px;
	background-color:#2c58a5;
	color:#FFF;
	font-size:14px;
	cursor: pointer;
	cursor: hand;
	border-radius:15px;
	margin-left:225px;
}
button:hover {
		background-color:#203a66;	
}
}


/* Desktop Layout */
@media only screen and (min-width: 984px) {
@font-face{
	font-family:my-font;
	src:url(../fonts/SEGOEUI.TTF);
}
#main{
	width:100%;
	height:100vh;
	margin:0 auto;
	font-family:my-font;
	padding-top:40px;

background: #46bbff; /* Old browsers */
background: -moz-linear-gradient(left,  #46bbff 0%, #c9ebfe 51%, #46bbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #46bbff 0%,#c9ebfe 51%,#46bbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #46bbff 0%,#c9ebfe 51%,#46bbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46bbff', endColorstr='#46bbff',GradientType=1 ); /* IE6-9 */

}
#logo{
	width:200px;
	height:56px;
	margin:0 auto;
	background:url(../images/LOGO-300-dpi-Color.png) no-repeat;
	margin-bottom:40px;
}
#loginBox{
	width:570px;
	height:270px;
	border-radius:10px;
	margin:0 auto;
	padding-top:20px;
background: #aee1fe; /* Old browsers */
background: -moz-linear-gradient(left, #aee1fe 0%, #dcf2fe 51%, #aee1fe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #aee1fe 0%,#dcf2fe 51%,#aee1fe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #aee1fe 0%,#dcf2fe 51%,#aee1fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee1fe', endColorstr='#aee1fe',GradientType=1 ); /* IE6-9 */
}
#msg{
	text-align:center;
	margin-bottom:15px;
}
#text-1{
	width:100%;
	height:34px;
	margin-bottom:15px;
}
#idIco{
	width:34px;
	height:34px;
	background-color:#FFF;
	background:url(../images/id-tab.jpg) no-repeat;
	float:left;
	margin-left:118px;
}
#textBox{
	width:300px;
	height:34px;
	font-size:16px;
	background-color:#FFF;
	float:left;
}
#text-2{
	width:100%;
	height:34px;
	margin-bottom:15px;
}
#passIco{
	width:34px;
	height:34px;
	background-color:#FFF;
	background:url(../images/passkey-tab.jpg) no-repeat;
	float:left;
	margin-left:118px;
}
#passBox{
	width:300px;
	height:34px;
	font-size:16px;
}
#R{
	width:100%;
	height:34px;
}
#checkBox1{
	margin-left:120px;
	float:left;
	margin-top:10px;
	margin-right:15px;
}
.rememberText{
	font-size:14px;
	cursor: pointer;
	cursor: hand;
	line-height:34px;
	float:left;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
.resetText{
	font-size:14px;
	float:right;
	color:#000;
	line-height:34px;
	margin-right:110px;
}
.paddingText{
	padding-left:10px;
	border: 0px solid #CCC; 
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	color:#009;
}

a:active {
    text-decoration: underline;
}
#btn-in{
	width:100%;
	height:50px;
	margin-top:25px;
}
.btn{
	width:120px;
	height:40px;
	background-color:#2c58a5;
	color:#FFF;
	font-size:14px;
	cursor: pointer;
	cursor: hand;
	border-radius:15px;
	margin-left:225px;
}
button:hover {
		background-color:#203a66;	
}
}


/* Large Desktop Layout */
@media only screen and (min-width: 1180px) {
@font-face{
	font-family:my-font;
	src:url(../fonts/SEGOEUI.TTF);
}
#main{
	width:100%;
	height:100vh;
	margin:0 auto;
	font-family:my-font;
	padding-top:40px;

background: #46bbff; /* Old browsers */
background: -moz-linear-gradient(left,  #46bbff 0%, #c9ebfe 51%, #46bbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #46bbff 0%,#c9ebfe 51%,#46bbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #46bbff 0%,#c9ebfe 51%,#46bbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46bbff', endColorstr='#46bbff',GradientType=1 ); /* IE6-9 */

}
#logo{
	width:200px;
	height:56px;
	margin:0 auto;
	background:url(../images/LOGO-300-dpi-Color.png) no-repeat;
	margin-bottom:40px;
}
#loginBox{
	width:570px;
	height:270px;
	border-radius:10px;
	margin:0 auto;
	padding-top:20px;
background: #aee1fe; /* Old browsers */
background: -moz-linear-gradient(left, #aee1fe 0%, #dcf2fe 51%, #aee1fe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #aee1fe 0%,#dcf2fe 51%,#aee1fe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #aee1fe 0%,#dcf2fe 51%,#aee1fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee1fe', endColorstr='#aee1fe',GradientType=1 ); /* IE6-9 */
}
#msg{
	text-align:center;
	margin-bottom:15px;
}
#text-1{
	width:100%;
	height:34px;
	margin-bottom:15px;
}
#idIco{
	width:34px;
	height:34px;
	background-color:#FFF;
	background:url(../images/id-tab.jpg) no-repeat;
	float:left;
	margin-left:118px;
}
#textBox{
	width:300px;
	height:34px;
	font-size:16px;
	background-color:#FFF;
	float:left;
}
#text-2{
	width:100%;
	height:34px;
	margin-bottom:15px;
}
#passIco{
	width:34px;
	height:34px;
	background-color:#FFF;
	background:url(../images/passkey-tab.jpg) no-repeat;
	float:left;
	margin-left:118px;
}
#passBox{
	width:300px;
	height:34px;
	font-size:16px;
}
#R{
	width:100%;
	height:34px;
}
#checkBox1{
	margin-left:120px;
	float:left;
	margin-top:10px;
	margin-right:15px;
}
.rememberText{
	font-size:14px;
	cursor: pointer;
	cursor: hand;
	line-height:34px;
	float:left;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
.resetText{
	font-size:14px;
	float:right;
	color:#000;
	line-height:34px;
	margin-right:110px;
}
.paddingText{
	padding-left:10px;
	border: 0px solid #CCC; 
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	color:#009;
}

a:active {
    text-decoration: underline;
}
#btn-in{
	width:100%;
	height:50px;
	margin-top:25px;
}
.btn{
	width:120px;
	height:40px;
	background-color:#2c58a5;
	color:#FFF;
	font-size:14px;
	cursor: pointer;
	cursor: hand;
	border-radius:15px;
	margin-left:225px;
}
button:hover {
		background-color:#203a66;	
}
}